#nav{
    background-color: #fcece4;
}
body{
    background-image: linear-gradient(to bottom, white, #fcece4, #FFDEDE);
}

#men-banner{
    padding-top: 1em;
    max-width: 100%;
}

main{
    margin-left: 0;
}

.category h2{
    padding-left: 0.8em;
}

.category hr{
    margin: -1em 1em 2em 1.3em;
    display: block;
    width: 100%;
    height: 1px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin:0;
}

.product{
    display: flex;
    flex: 0 0 33%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 0.5em;
    margin: auto;
    width: 100%;
    padding-bottom: 1em;
}

.product p{
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

.product img{
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 20em;
    width: 15em;
    margin: auto;
}

.alt-img{
    position: relative;
    display: inline-block;
}
.img-top {
    display: none;
    position: relative;
}
.alt-img:hover .img-top{
    display: inline;
}

.alt-img:hover .img-back {
    display: none;
}

.product a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.product a:hover{
    /* color: #e78d93; */
    text-decoration: none;
    color: rgb(233, 126, 126);
}
  
.product a:active {
    color: orange;
    background-color: transparent;
}

/*-----------Next/Previous Bar----------*/
#nextBar{
    margin: auto;
    padding-bottom: 1em;
}

#nextBar a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    width: 4.8em;
    text-align: center;
  }
  
  #nextBar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #nextBar .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  #nextBar .next {
    background-color: #f07a80;
    color: white;
  }

